/* .area {
  width: 560px;
  height: 560px;
  max-width: 600px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 500;
  background: linear-gradient(90deg, #fb8355 0%, #f0576c 37%, #f79cbd 100%);
  align-items: center;
  flex-wrap: wrap;
}

.table {
  display: flex;
  width: 50px;
  height: 50px;
  font-size: 500;
  border: white 3px solid;
  background: linear-gradient(90deg, #fb8355 0%, #f0576c 37%, #f79cbd 100%);
  font-size: 45px;
  color: whitesmoke;
  justify-content: center;
  align-items: center;
}

.conteiner {
  display: flex;
  justify-content: center;

  background: rgb(219, 224, 220);
}

.btn {
  font-size: 40px;
  color: whitesmoke;
} */
