.navbar {
  display: flex;
  justify-content: space-between;
  background: rgb(162, 233, 173);
}

.navbarHeader {
  font-size: 30px;
  color: rgb(211, 102, 102);
  background: rgb(162, 233, 173);
  align-items: center;
  justify-content: center;
}

.ul {
  display: flex;
  justify-content: space-between;
  width: 200px;
  padding: 5px;
}

.li {
  display: flex;
  justify-content: space-between;
}
